<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18890894356-pgfkboao7kqbogg5lfdd81t8vrb9cfaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18890894356-pgfkboao7kqbogg5lfdd81t8vrb9cfaf</string>
	<key>API_KEY</key>
	<string>AIzaSyADJf-EigH-ideLRbfpKmFE81US4yh5iSg</string>
	<key>GCM_SENDER_ID</key>
	<string>18890894356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centennialcollege.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-e8d8d</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-e8d8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18890894356:ios:49727a0176300082ad0b01</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-e8d8d.firebaseio.com</string>
</dict>
</plist>